<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pracownik</title>
    <style>
        body {
            font-family: sans-serif;
            font-size: 16px;
            margin: 0;
            padding: 0;
        }

        .header h3 {
            margin-top: 0.5rem;
            text-align: center;
        }

        .center {
            display: flex;
            justify-content: center;
        }

        .card {
            margin: 1rem;
            padding: 1rem;
            border-radius: 3px;
            background-color: #CCD1D9;
            width: 380px;

            box-shadow: 0 0 1rem #555;
        }
    </style>
</head>
<body>
<div class="center">
    <div class="card">
        <div class="header">
            <h3>Dane pracownika</h3>
        </div>
        <div class="content">
            {{employee}}
        </div>
    </div>
</div>
</body>
</html>